/* -- Fonts -- */
 @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* -- Root Variables --*/
:root { 

    /* -- Colors -- */
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#000000;
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#2257BF;
    --color-dark-variant:#677483;
    --color-background:#F6F6F9;

    /* -- border radius -- */
    --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem;

    /* -- padding -- */
    --card-padding:1.8rem;
    --padding:1.2rem;

    /* -- box shadow -- */
    --box-shadow:0 0.2rem 0.3rem var(--color-dark-variant);

    /* -- Police --*/
    --text-descr1:16px;
    --text-descr2:14px;
    --text-descr3:12px;

    --titre0:50px;
    --titre1:24px;
    --titre2:20px;    
    --titre3:18px;
    --titre4:32px;
    --titre5:40px;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

body{
    max-width: 1440px;
    margin: auto;
    background-color: var(--color-background);
    overflow-x: hidden;
}
.main{
    max-width: calc(100% - 100px);
    padding: 0 3px;
    margin:auto;
    /* border: #f6f6f9 1px solid; */
} 
.btn-xl{
    position: relative;
    width: 150px;
    height: 40px;
    background-color: var(--color-primary-variant);
    color: var(--color-white);
    font-size: var(--text-descr2);
    padding: 10px;
    border-radius: var(--border-radius-1);
}
.titre{
    position: relative;
    margin-bottom: 50px;
    left: 40%;
}
.titre p{
    color: var(--color-dark);
    font-size: var(--titre1);
}
.titre .trait{
    position: relative;
    width: 100px;
    height: 3px;
    top: 2px;
    background-color: var(--color-dark);
}

/* ################################# */
/* banniere */
/* ################################# */

.banniere{
    position: relative;
    width: 100%; 
    overflow: hidden;   
} 

/* ################################# */
/* heures d'ouverture et conctacts  */
/* ################################# */

.h-contact{
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    padding: 10px 0;
    background-color: var(--color-primary-variant);
}
.h-contact .content{
    display: grid;
    grid-template-columns: 5fr 400px 60px ;
    grid-gap:10px;
    overflow: hidden;
}
.h-contact .content .heures{
    position: relative;
    display: flex;
}
.h-contact .icon{
    font-size: var(--titre3);
    color: var(--color-white);
    margin-right: 10px;
} 
.h-contact .content  p,
.h-contact .content  p a{
    position: relative;
    font-size: var(--text-descr3);
    color: var(--color-white);
    top: 5px;


}.h-contact .content  p a{
    top: -1px;
}
.h-contact .content .contact{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:10px    
}
.h-contact .content .contact .col1{
    border-right: var(--color-white) solid 3px;
    padding-right: 10px;
}
.h-contact .content .contact .col,
.h-contact .content .contact .col1{
    position: relative;
    display: flex;
}
.h-contact .content .social{
    display: flex;
    justify-content: space-between;
}


/* responsive design*/


/* ################################# */
/* Menu  */
/* ################################# */

.menu{
    width: 100%;
    height: 80px;
    overflow: hidden;
    background-color: var(--color-white);
}
.menu .content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.menu .content .logo{
    position: relative;
    height: 70px;
    width: 108px;
    background-color:var(--color-primary-variant);
    overflow: hidden;
}
.menu .content .logo img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.menu .content .lien{
    width: 600px;
    align-self: center;
} 
.menu .content .lien ul{
    display: flex;
    justify-content: space-between;
    
}
.menu .content .lien ul li a{
    font-size: var(--titre3);
    color: var(--color-primary-variant);
    font-weight: 600;
}


/* responsive design*/


/* ################################# */
/* image banniere  */
/* ################################# */

.img-banniere{
    position: relative;
}
.img-banniere .img-ban{
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    background-color: var(--color-dark);

}

.img-banniere .img-ban img{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.3;
}
.img-banniere .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.img-banniere .content h2, .img-banniere .content h1{
    color: var(--color-white);
    text-align: center;
}
.img-banniere .content h2{
    margin: 30px 0;
}
.img-banniere .content h2{
    font-size: var(--titre1);
    font-weight: 700;
}
.img-banniere .content h1{
    font-size: var(--titre0);
    font-weight: 700;
}

/* responsive design*/


/* ################################# */
/* Uptime en chiffre  */
/* ################################# */
.u-chiffre{
    position: relative;
    max-width: 1000px;
    height: 120px;
    z-index: 1;
    top: -60px;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary-variant);
    border-radius: var(--border-radius-2) ;
    align-items: center;
    margin: auto;
}
.u-chiffre .col{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.u-chiffre .col .icon{
    position: relative;
    margin-right: 15px;
    top: 7px;
}
.u-chiffre .col .icon i{
    color: var(--color-white);
    font-size: 35px;
    right: 15px;
    text-align: center;
}
.u-chiffre .col .info{
    position: relative;
    top: -5px;
}
.u-chiffre .col .info h2,
.u-chiffre .col .info p{
    color: var(--color-white);
}
.u-chiffre .col .info h2{
    margin-bottom: 2px;
    font-weight: 700;
    font-size: var(--titre1);
}
.u-chiffre .col .info p{
    font-size: var(--text-descr2);
}
/* responsive design*/


/* ################################# */
/* Apropos de nous  */
/* ################################# */
.apropos{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 50px 0;
}
.apropos .content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap:40px;
}
.apropos .content .img-apropos{
    position: relative;
    width: 350px;
    height: 400px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}
.apropos .content .img-apropos img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.apropos .info {
    width: 100%;
    overflow: hidden;
}
.apropos .info h3{
    color: var(--color-primary-variant);
    font-size: var(--titre2);
    margin-bottom: 50px;
    font-weight: 600;
}
.apropos .info p{
    color: var(--color-dark);
    font-size: var(--text-descr1);
    margin-bottom: 60px;
}
/* responsive design*/


/* ################################# */
/* Nos Partenaires  */
/* ################################# */

.partenaire{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: var(--color-white);
    overflow: hidden;
    padding: 25px 0;
    margin-bottom: 100px;
    box-shadow: var(--box-shadow);
}
.partenaire .content{    
    display: flex;
    justify-content: space-between;
}
.partenaire .log-part{
    position: relative;
    height: 70px;
    width: 120px;
    overflow: hidden;
}
.partenaire .log-part img{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: contain;
}
/* responsive design*/


/* ################################# */
/* Nos Services  */
/* ################################# */
.services{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}
.services .desc p {
    font-size: var(--titre2);
    color: var(--color-dark);
    text-align: center;
    margin-bottom: 100px;
}
    

.services .content {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    overflow: hidden;
    bottom: 30px;
}
.services .content .col{
    position: relative;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    min-height: 180px;
    border-radius: var(--border-radius-2);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: var(--box-shadow);
}  
.services .content .col .img-service{
    position: relative;
    width: 120px;
    height: 120px;
    margin-right: 15px;
    overflow: hidden;
}   
.services .content .col .img-service img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}  
.services .content .col .info{
    position: relative;
    overflow: hidden;
}  
.services .content .col .info h3,
.services .content .col .info p{
    color: var(--color-dark);
    margin-bottom: 20px;
} 
.services .content .col .info h3{
    font-size: var(--titre3);
}
.services .content .col .info p{
    font-size: var(--text-descr2);
}   
.services .content .col .info a{
    color: var(--color-primary-variant);
    margin-bottom: 20px;
    font-size: var(--titre3);
} 
.btn-position{
    position: relative;
    text-align: center;
    margin-bottom: 10px
} 
/* responsive design*/


/* ################################# */
/* videos services  */
/* ################################# */  
.videos-serv{
    position: relative;
    margin: 100px 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.videos-serv .video{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: var(--color-dark);
}
.videos-serv .video img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.2;
}
.videos-serv .content{
    position: relative;
    text-align: center;
    z-index: 1;
    color: var(--color-white);
    max-width: 850px;
    min-height: 600px;
    margin: auto;
    top: -160px;
}

.videos-serv .content .btn-video {
    position: relative;
    top: -150px;
}

.videos-serv .content .info p {
    position: relative;
    font-size: var(--titre1);
    top: -30px;
} 

.videos-serv .content .info h1 {
    font-size: var(--titre4);
    font-weight: 700;
} 

/* responsive design*/


/* ################################# */
/* pourquoi nous choisir  */
/* ################################# */  
.choisir{
    position: relative;
    width: 100%;
    height: 670px;
    overflow: hidden;
    margin-bottom: 80px;
}
.choisir .content{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 1050px;
    margin: auto;
}
.choisir .content .choix-img{
    width: 100%;
    overflow: hidden;
}
.choisir .content .choix-img .img{
    position: relative;
    max-width: 500px;
    height: 470px;
    overflow: hidden;
    border-top: solid 20px var(--color-primary-variant);
    top: 80px;
}
.choisir .choix-img .client-sati{
    position: relative;
    z-index: 1;
    min-height: 120px;
    max-width: 250px;
    overflow: hidden;
    top: -10%;
    left: 5%;
}
.choisir .choix-img .client-sati .content{
    z-index: 2;
    width: 100%;
    height: 90px;
    display: flex;
    background-color: var(--color-white);
    padding: 15px;
    border-radius: var(--border-radius-2);
}
.choisir .choix-img .client-sati .content .icon{
    font-size: var(--titre0);
    color: var(--color-primary-variant);
}
.choisir .choix-img .client-sati .content .info{
    margin-left: 8%;
}
.choisir .choix-img .client-sati .content .info h4{
    font-size: var(--titre1);
    margin-bottom: 8px;
    color: var(--color-primary-variant);
}
.choisir .choix-img .client-sati .content .info p{
    font-size: var(--text-descr2);
    color: var(--color-dark);
}
.choisir .choix-img .client-sati .triangle{
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent var(--color-white);
    rotate: 90deg;
    left: 30px;
}

.choisir .content .choix{
    position: relative;
    height: 640px;
    max-width: 650px;
    background-color: var(--color-white);
    padding: 30px;
    border-bottom: solid 20px var(--color-primary-variant);
    box-shadow: var(--box-shadow);
}
.choisir .content .choix .titre{
    left: 0;
}
.choisir .content .choix .desc h3,
.choisir .content .choix h3{
    position: relative;
    font-size: var(--titre2);
    color: var(--color-primary-variant);
    font-weight: 700;
}
.choisir .content .choix .desc h3{
    top: -20px;
}
.choisir .choix .contenue{
    position: relative;
    top: 30px;
}
.choisir .content .choix .contenue .col{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 0 10px 10px 0;
    border-right: var(--color-dark) 1px solid;
    border-bottom: var(--color-dark) 1px solid;
    margin-bottom: 50px;
}

.choisir .content .choix .contenue .col h3{
    top: -20px;
    left: 55px;
    font-weight: 800;
    font-size: var(--titre2);
}

.choisir .choix .col .info{
    width: 100%;
    display: flex;
}
.choisir .choix .col .info .circle{
    width: 80px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-primary-variant);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--titre1);
    font-weight: 700;
    color: var(--color-white);
    margin-left: -10px;
}

.choisir .choix .col .info p{
    margin-left: 30px;
    font-size: var(--text-descr2);
}
/* responsive design*/


/* ################################# */
/* Nos Realisations  */
/* ################################# */ 
.realisation{
    position: relative;
    width: 100%;
    margin-bottom: 100px;
} 
.realisation .content{
    position: relative;
    max-width: 850px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:40px;
    overflow: hidden;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 10px;
}
.realisation .content .col{
    position: relative;
    overflow: hidden;
    max-width:250px ;
    min-height:320px ;
    margin-bottom: 20px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
}

.realisation .content .col .real-img{
    position: relative;
    max-width: 250px;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.realisation .content .col .real-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.realisation .content .col .r-date{
    font-size: var(--text-descr3);
    color: var(--color-dark);
    margin: 10px 0 10px  0;
}

.realisation .content .col .info h3 {
    font-size: var(--text-descr1);
    color: var(--color-primary-variant);
    margin-bottom: 10px;
}
.realisation .content .col .info p{
    font-size: var(--text-descr3);
    color: var(--color-dark);
}
/* responsive design*/


/* ################################# */
/* pourquoi nous choisir  */
/* ################################# */  

