body{
    margin-top: 10%;
}
.video{
    margin: auto;
    max-width: 800px;
    height: 400px;
    border: 1px solid gray;
    background: linear-gradient(to left,rgba(0, 0, 0, 0.800),rgba(0, 0, 0, 0.800)),url(img/img/startup.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video ion-icon{
    color: white;
    font-size: 50px;
    padding: 50px;
    background: rgba(192, 213, 231, 0.363);
    border-radius: 50%;
    position: relative;
}

.video ion-icon:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 15px solid orange;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.video ion-icon:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 15px solid gray;
    animation: animated 1.5s linear infinite;
    opacity: 0;
    animation-delay: .6s;
}
@keyframes animate {
    0%
    {
        transform: scale(.5);
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.5);
    }
}
@keyframes animated {
    0%
    {
        transform: scale(.5);
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.5);
    }
}



/*     .videos-serv{
    position: relative;
    margin: 100px 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.videos-serv .video{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: var(--color-dark);
}
.videos-serv .video img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.2;
}
.videos-serv .content{
    position: relative;
    text-align: center;
    z-index: 1;
    color: var(--color-white);
    max-width: 850px;
    min-height: 600px;
    margin: auto;
    top: -160px;
}

.videos-serv .content .btn-video {
    position: relative;
    top: -150px;
}

.videos-serv .content .info p {
    position: relative;
    font-size: var(--titre1);
    top: -30px;
} 

.videos-serv .content .info h1 {
    font-size: var(--titre4);
    font-weight: 700;
}                       */